mat-card {
  margin-top: 2rem;

  &-title {
    margin-bottom: 1.5rem;
  }

  &-content {
    margin: 2rem 0 1rem 0 !important;
  }
}

mat-form-field {
  width: 100%;
  max-width: 30rem;
  margin-right: 1rem;
}

mat-card-actions {
  margin: 0;
}
