<mat-card>
  <mat-card-title>Songs List</mat-card-title>
  <mat-card-content>
    <mat-list data-cy="songs-list">
      <mat-list-item
        *ngFor="let song of songs"
        attr.data-cy="songs-{{ song.id }}-item"
        class="mat-list-option"
        (click)="selected.emit(song)"
      >

        <h2 matLine attr.data-cy="song-{{ song.id }}-item-title">
          <strong>{{ song.title }}</strong>
        </h2>
        <small matLine><i>{{ song.author }}</i></small>

        <a
          *ngIf="song.url"
          attr.data-cy="play-song-{{ song.id }}-btn"
          mat-icon-button
          type="button"
          color="success"
          target="_blank"
          (click)="$event.stopImmediatePropagation()"
          [href]="song.url"
        >
          <mat-icon>play_circle</mat-icon>
        </a>

        <button
          *ngIf="!readonly"
          attr.data-cy="delete-song-{{ song.id }}-btn"
          mat-icon-button
          type="button"
          color="warn"
          (click)="deleted.emit(song); $event.stopImmediatePropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
